# Flask and extensions
Flask~=3.1.2
Flask-CORS~=6.0.2
werkzeug~=3.1.5
prometheus-flask-exporter~=0.23.2

# Process Locking
portalocker~=3.2.0

# HTTP Client
requests==2.32.5

# WSGI Server
gevent~=25.9.1

# Frontend
babel~=2.17.0
